@{
    ViewData["Title"] = "About Us";
}
<div class="container container-padding">
    <h1 class="display-4">About Us</h1>
    <div class="menu">
        <div class="transparent-bg">
            <div class="menu-list" style="text-align:left">
                <p>DERrestaurant is a unique concept that offers modern fine dining experience with incredible food, world-class service, and the perfect atmosphere. The menu features holds many cultural and traditional dishes like Chicken or Beef Steak, Chapati, Kati Kati, Doro woet and many more. Located in RTC, DERrestaurant offers lunch, dinner, and happy hour.</p>
            </div>
        </div>
    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />