@{
    ViewData["Title"] = "Check Out";
}

<h1>Check Out</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
   <tbody>
    
    </tbody>
   
    <tfoot>
  
    </tfoot>
</table>
<div class="text-center">
    

</div>